.default-color0.chart-bar {-fx-bar-fill: #4CAF50;}

.default-color1.chart-bar {-fx-bar-fill: #2196F3;}

.default-color2.chart-bar {-fx-bar-fill: #FF9800;}

.default-color3.chart-bar {-fx-bar-fill: #9C27B0;}

.default-color4.chart-bar {-fx-bar-fill: #F44336;}